@charset "UTF-8";

:root{
    --cor0: #211A1E;
    --cor1: #331b02;
    --cor2: #4d2d06;
    --cor3: #653f24;
    --cor4: #e0dfca;
    --cor5: #915d38;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor4);
}

h1{
    font-style: normal;
}

p{
    text-align: justify;
    text-indent: 30px;
    padding: 10px 20px 10px 20px;
    line-height: 2;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor2), var(--cor1));
    min-height: 200px;
    max-height: 500px;
}

header > h1{
    color: white;
    font-style: normal;
    text-align: center;
    padding: 40px 40px 20px 40px;
    font-size: 2.5em;
}    

header > p{
    color: white;
    text-align: center;
    min-width: 200px;
    max-width: 500px;
    margin: auto;
    padding-bottom: 50px;
    text-indent: 0px;
}

nav{
    background-color: var(--cor1);
    padding: 5px;
}

nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 1.1em;
    box-shadow: var(--cor5);
}

nav > a:hover{
   text-decoration: underline;
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
}

article > h2{
    color: var(--cor1);
    font-size: 2.5em;
    padding: 10px 0px 5px 10px 
}

article > picture > img{
    width: 100%;
}

article > picture > img#primeira{
    width: 990px;
    padding: 5px;
}

article > img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

article > ul{
    background-color: var(--cor5);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px 20px 20px 20px;
    border-radius: 20px;
    box-shadow: 4px 6px 1px rgba(0, 0, 0, 0.258);
}

article > ul > h3{
    background-color: var(--cor3);
    color: white;
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
    margin-top: -10px;
    margin-bottom: 10px;
}

article > ul > li{
    color: white;
    list-style: inside;
    padding: 0px 40px 20px 40px;
}

div#video{
    background-color: var(--cor3);
    margin: auto;
    padding: 20px 10px 20px 10px;
    padding-bottom: 59%;
    position: relative;
}

div#video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor5);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px 20px 20px 20px;
    border-radius: 20px;
    box-shadow: 4px 6px 1px rgba(0, 0, 0, 0.258);
}

aside > h3{
    background-color: var(--cor3);
    color: white;
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
    margin-top: -10px;
    margin-bottom: 10px;
}

aside > p{
    color: white;
}

footer{
    background-color: var(--cor1);
}

footer > p{
    color: white;
    text-align: center;
    font-size: 0.8em;
}

footer > p > a{
    color: white;
    text-decoration: none;
}

footer > p > a:hover{
    text-decoration: underline;
}